/* Universal styles */
html {
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1148px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 900;
}

h3,
.stage-info p {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75rem;
}

p{
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

a {
  color: #83b5a3;
  text-decoration: none;
  transition: color 300ms linear;
}

a:hover {
  color: #4a4a4a;
}

a:active {
  color: #83b5a3;
}

.small-text{
  margin-top: 1rem;
  font-style: italic;
  font-size: 0.75rem;
}

/* Header/Footer */
header {
  background-color: #fff;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

header .container{
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo{
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  margin-right: auto;
}

.logo img {
  height: 44px;
  margin-right: 5px;
}

header .logo-bold {
  color: #83b5a3;
  font-weight: bold;
}

.mobile-navigation {
  display: none;
}

header a,
footer a{
  color: #4a4a4a;
  margin-left: 16px;
  text-decoration: none;
  transition: color 300ms;
  -webkit-transition: color 500ms;
}

header a:hover,
footer a:hover{
  color: #83b5a3;
}

footer {
  background-color: #fff;
  height: 90px;
  width: 100%;
}

footer .container{
  align-items: center;
  display: flex;
}

footer .copyright{
  margin-right: auto;
}

/* Stage */
#stage {
  margin-top: 64px;
  background-color: #83b5a3;
}

#stage .container{
  align-items: center;
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
}

#stage img {
  margin-right: 48px;
  width: 60%;
}

.stage-info {
  width: 40%;
}

.stage-info p {
  line-height: 2rem;
  margin: 1.25rem 0;
}

.btn-stage {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  color: #83b5a3;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  text-transform: uppercase;
  width: 90%;
}

.btn-stage:hover {
  background-color: #4a4a4a;
  color: #fff;
}

.btn-stage:active {
  color: #83b5a3;
}

/* First teaser section / Thesis exhibit */
#first-teaser-section,
#thesis-exhibit {
  background-color: #f2f2f2;
}

#first-teaser-section .container,
#thesis-exhibit .container,
#start-learning .container{
  display: flex;
}

.subheadline {
  text-align: center;
  padding-top: 32px;
}

/* Teaser L */
.teaser-l {
  margin-right: 48px;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 60%;
}

.teaser-l img,
.teaser-l video {
  width: 100%;
}

.teaser-l h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Teaser S */
.teaser-s-area {
  border-left: 1px solid #83b5a3;
  padding-top: 32px;
  width: 40%;
}

.teaser-s {
  align-items: center;
  border-bottom: 1px solid #83b5a3;
  display: flex;
}

#first-section.teaser-s:last-child {
  background-color: #d8d8d8;
}

#thesis.teaser-s,
#thesis.teaser-s-area {
  border: none;
}

#thesis.teaser-s:first-child {
  background-color: #d8d8d8;
  margin-top: 16px;
}

.img-container {
  padding: 16px;
  width: 40%;
}

.teaser-s img {
  width: 100%;
}

.teaser-s-text {
  width: 60%;
  padding-right: 16px;
}

/* Start learning */

#start-learning {
  background-color: #b7cfc7;
}

#start-learning .container {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Teaser M */
.teaser-m-area {
  flex-wrap: wrap;
  justify-content: center;
}

.teaser-m {
  margin: 16px 12px 16px 12px;
  max-width: 320px;
  min-width: 280px;
  width: 30%;
}

.teaser-m img {
  width: 100%;
}

.teaser-m-text {
  background-color: white;
  height: 175px;
  overflow: hidden;
  padding: 16px;
}
